{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <script src="{% static 'js/calculator.js' %}" type="text/javascript"></script>
</head>
<h1>CAGR</h1>

<div class="row">
    <div class="col-12">
        <label class="form-label">BV, 기초가</label>
        <input type="number" class="form-control" id="bv" value=10000000>
    </div>
    <div class="col-12">
        <label class="form-label">EV, 기말가</label>
        <input type="number" class="form-control" id="ev" value=20000000>
    </div>
    <div class="col-12">
        <label class="form-label">기간(연)</label>
        <input type="number" class="form-control" id="n" value=6>
    </div>
    <div class="text-start mt-3">
        <button type="button" class="btn btn-dark" onclick="cagr()">Calculate</button>
    </div>
</div>

<div class="col-12 my-3">
    <label class="form-label">연평균성장률(CAGR)</label>
    <div class="card-text" id="result">출력값</div>
</div>



{% endblock %}