{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<head>
    <title>Quantmagnet</title>
    
    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.2.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.4.2.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-2.4.2.min.js" crossorigin="anonymous"></script>

    <script>
        // var kospi_data = JSON.parse("{{ kospi_data|escapejs }}")
        // var kospi_data = "{{ kospi_data|escapejs }}"
        Highcharts.getJSON('https://demo-live-data.highcharts.com/aapl-ohlcv.json', function (data) {
        // Highcharts.getJSON(kospi_data, function (data) {

            // split the data set into ohlc and volume
            var ohlc = [],
                volume = [],
                dataLength = data.length,
                // set the allowed units for data grouping
                groupingUnits = [[
                    'week', // unit name
                    [1] // allowed multiples
                ], [
                    'month',
                    [1, 2, 3, 4, 6]
                ]],

                i = 0;

            for (i; i < dataLength; i += 1) {
                ohlc.push([
                    data[i][0], // the date 
                    data[i][1], // open 
                    data[i][2], // high 
                    data[i][3], // low 
                    data[i][4] // close 
                ]); 
                
                volume.push([
                    data[i][0], // the date
                    data[i][5] // the volume 
                ]); 
            } // create the chart 

            Highcharts.stockChart('container', {
                rangeSelector: { selected: 1 }, title: { text: 'AAPL Historical' },
                        yAxis: [{
                            labels: { align: 'right', x: -3 }, title: { text: 'OHLC' }, height: '60%', lineWidth: 2, resize: {
                                enabled: true
                            }
                        }, {
                            labels: { align: 'right', x: -3 }, title: { text: 'Volume' }, top: '65%', height: '35%',
                            offset: 0, lineWidth: 2
                        }], tooltip: { split: true }, series: [{
                            type: 'candlestick', name: 'AAPL', data: ohlc,
                            dataGrouping: { units: groupingUnits }
                        }, {
                            type: 'column', name: 'Volume', data: volume, yAxis: 1, dataGrouping:
                                { units: groupingUnits }
                        }]
                    });
            });

    </script>
</head>


<!-- <body>
     <div id="container"></div> 


    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text">KOSPI</p>
        </div>
        <div>
            <img src="..." class="card-img-top" alt="...">
            <canvas id="kospichart"></canvas>
            {{ div|safe }}
        </div>
    </div>
    
</body>
{{ script|safe }} -->

{% endblock %}