{% load static %}
<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar-top-fixed.css' %}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Bokeh -->
    <!-- <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-2.4.1.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.1.min.css"> -->

</head>

<body>
    {% include 'navbar.html' %}
    <div class="p-3" style="display: block; overflow-x: hidden; overflow-y: auto;">
        {% block content %}
        {% endblock %}
    </div>

</body>
<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.1.min.js"></script>

</html>