{% extends 'base.html' %}
{% load static %}
{% block content %}
<p>test testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest</p>
<p>test testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest</p>
<div>
    <!-- <object data="{% static 'svg/plot.svg' %}"></object> -->
    {{ d1| safe }}
    <p>test testtesttesttesttesttesttesttesttesttesttesttesttest</p>
    
</div>
{{ s1| safe}}
{% endblock %}